$page-header-height: 32px;

.shadow-center-1 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.14), 0 0 0 -1px rgba(0, 0, 0, 0.12);
}

.shadow-center-2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.14), 0 0 0 -2px rgba(0, 0, 0, 0.12);
}

.shadow-light-2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.03), 0 0 0 -2px rgba(0, 0, 0, 0.02);
}

.page-title-bar {
  min-height: $page-header-height;
  max-height: $page-header-height;
  height: $page-header-height;
}

.page-content {
  position: absolute;
  top: map-get($space-sm, 'x') * 2 + $page-header-height;
  left: map-get($space-sm, 'x');
  right: map-get($space-sm, 'x');
  bottom: map-get($space-sm, 'y');
}

.double-page-content-top {
  top: map-get($space-sm, 'x') * 3 + $page-header-height * 2;
}

.q-table th {
  font-size: map-get($body2, 'size');
  font-weight: bold;
  padding: $space-y-base / 2.532 $space-y-base / 2 !important;
}

.q-table tr td {
  font-size: map-get($body2, 'size');
  padding: $space-y-base / 2.532 $space-y-base / 2 !important;
}

.q-focus-helper {
  transition: none !important;
}

.data-table {
  tr th {
    position: sticky;
    z-index: 2;
    background-color: white;
  }

  thead tr:last-child th {
    top: 48px;
    z-index: 3;
  }

  thead tr:first-child th {
    top: 0;
    z-index: 1;
  }

  tr:first-child th:first-child {
    z-index: 3;
  }

  td:first-child {
    z-index: 1;
  }

  td:first-child, th:first-child {
    position: sticky;
    left: 0;
    background-color: white;
  }
}

.q-item {
  padding: 8px;
}

.q-item__section--avatar {
  min-width: 32px;
  align-items: center;
  padding-right: 0;

  > .q-icon {
    font-size: 18px;
  }
}

.q-item__section--main {
  padding-left: map-get($space-xs, 'x');
}

.q-checkbox__bg {
  border-radius: 0;
}

.search-input {
  .q-field__control {
    height: 32px;
  }

  .q-field__append {
    height: 32px;
    padding-left: map-get($space-xs, 'x');
  }

  .q-field__prepend {
    height: 32px;
    padding-right: map-get($space-xs, 'x');
  }

  .q-field__control:before {
    border-bottom: none !important;
  }
}

.input-btn {
  min-height: 32px;
  min-width: 32px !important;
  font-size: map-get($body2, 'size');
}

.page-header-btn {
  min-height: 32px;
  min-width: 32px !important;
  font-size: map-get($body2, 'size');
  background-color: white;
}

html {
  font-size: 14px;
}
